* {
    background-color: white;
}
body {
    border: 8px solid #3D1C02;
    border-radius: 15px;
    background-color: #FFE4E1;
    margin: 20px;
    font-family: 'Great Vibes', 'Dancing Script', cursive;    
}

.full {
    background-color: #FFE4E1;
}

header, h2 {
    background-color: #FFE4E1;
    text-align: center;
}

main {
    background-color: #FFE4E1;
}

h1 {
    background-color: #FFE4E1;
    font-size: 50px;
    color: #3D1C02;
    text-decoration: underline solid;
    text-underline-offset: 4px;
}

h2 {
    color: #4B0082;
    background-color: #FFE4E1;
}

.quotes, b, i {
    text-align: center;
    color: #800000;
    background-color: #FFE4E1;
}

ul, p, li {
    font-size: 22px;
    color: #3D1C02;
    background-color: #FFE4E1;
}

a {
    text-decoration: none;
}

.guestImage {
    background-color: #FFE4E1;
    display: grid;
    place-items: center;
}
#image {
    height: 300px;
    border: 5px solid #3D1C02;
    border-radius: 55px;
}
.hover-container {
    position: relative;
    display: inline-block;
    font-size: 27px;
    cursor: pointer;
    color: #3D1C02;
    transition: color 0.3s ease-in-out;
    background-color: #FFE4E1;
}

.hover-container img {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -110%);
    width: 800px;
    display: none;
    border: 5px solid #3D1C02;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.hover-container:hover img {
    display: block;
}

.hover-container:hover {
    color: #8B4513;
    text-decoration: underline solid;
}

video {
    background-color: #FFE4E1;
    margin-left: 20%;
}

hr {
    border: none;
    border-top: 3px solid #3D1C02;
}

footer {
    height: 60px;
    font-size: 25px;;
    color: #DEB887;
    text-align: center;
    position: relative;
    bottom: 0px;
    background-color: #3D1C02;
}

@media (max-width : 1200px) {
    #image {
        height: 200px;
        border-radius: 35px;
    }
    .hover-container img{
        width: 400px;
        transform: translateX(5%);
        transform: translateY(-120%);
    }
    video {
        width: 400px;
    }
}

@media (max-width : 550px) {
    #image {
        height: 100px;
        border-radius: 15px;
    }
    .hover-container img{
        width: 300px; 
        transform: translate(-10%, -125%);
    }
    video {
        width: 200px;
    }
}
